<!DOCTYPE html>
<html>
  <head>

    <!-- add by Light-->
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/styles/styles.css">
    <!-- add by Light-->
    <%- include('fragments/header'); %>
    <%- include('fragments/navbar'); %>
  </head>

  <body>
  <br>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>

  <%- include('fragments/footer'); %>
</html>
